# ===============================
# CONFIGURACIÓN DE NETBEANS
# ===============================
nbproject/private/
nbbuild/
build/
dist/
nbactions.xml
*.class

# ===============================
# ARCHIVOS DE ENTORNO
# ===============================
.env
*.env

# ===============================
# SISTEMA OPERATIVO
# ===============================
.DS_Store
Thumbs.db

# ===============================
# LOGS Y TRAZAS
# ===============================
*.log
*.log.*
logs/

# ===============================
# MAVEN
# ===============================
target/
